{% if settings.freeshipping_enable %}
  {% layout none %}
  {% assign freeshipping_value = settings.free_shipping | plus: 0 %}
  {% assign freeshipping_value_notice = freeshipping_value | times: 100 | money %}

  {% assign price_without_currency = cart.total_price | money_without_currency | remove: '.00' | remove: ',' %}
  {% assign price = price_without_currency | plus: 0 %}
  {% if price < freeshipping_value %}
  {% assign spend_value = freeshipping_value | minus: price | times: 100 | money %}
    <div class="threshold_it">
      <div class="ic_threshold_bar">
        <i class="zmdi zmdi-truck"></i>
      </div>
      <div class="threshold_bar">
        <span class="animate" style="width:{{ price | times: 100 | divided_by: freeshipping_value | round }}%!important">
          <span>{{ price | times: 100 | divided_by: freeshipping_value | round }}%</span>
        </span>
      </div>
    </div>
    <div class="threshold_spend">{{ 'cart.general.spend_html' | t: spend: spend_value }}</div>
  {% else %}
    <div class="threshold_bar hide">
      <span class="animate" style="width: 100% !important;"><span>100%</span></span>
    </div>
    <p class="content_threshold threshold_congrats">{{ 'cart.general.content_threshold' | t }}<i class="zmdi zmdi-truck"></i></p>
  {% endif %}
{% endif %}