{% assign novCol = 4 %}
{% assign novLimit = 10 %}
{% assign currentProduct = product %}
{% if collection == null or collection.handle == 'all' %}
    {% assign foundCollection = false %}
    {% for item in product.collections %}
        {% if foundCollection == false and item.handle != 'all' and item.all_products_count > 1 %}
            {% assign foundCollection = true %}
            {% assign collection = item %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if collection and collection.products_count > 1 %}
    <div class="ProductRelated" data-wishlist-related>
        <div class="title_block mb-40">
            <span>{{ 'products.product.related' | t }}</span>
        </div>
        <div class="block__content">
            <div class="grid grid--view-items">
                <div class="owl-relatedproduct owl-carousel owl-theme owl-drag" data-autoplay="false" data-autoplayTimeout="6000" data-items="{{ novCol }}" data-nav="true" data-dots="false" data-loop="true" data-items_tablet="3" data-items_mobile="2" data-margin="30">
                    {% for product in collection.products limit:novLimit %}
                        {% unless product.handle == currentProduct.handle %}
                            <div class="item">
                                {% include 'product-card-grid', img_size : settings.img_size %}
                            </div>
                        {% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}