{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}
{% capture variantsswatch %} {% endcapture %}
{% capture variantsswatch %}{{ nov-swatch-size }}{% endcapture %}
{% if nov-swatch-size == blank %}
	<div class="swatch error">
			<p>You must include the snippet nov-swatch-size.liquid with the name of a product option.</p> 
			<p>Use: <code>{% raw %}{% include 'nov-swatch-size' with 'name of your product option here' %}{% endraw %}</code></p>
			<p>Example: <code>{% raw %}{% include 'nov-swatch-size' with 'Color' %}{% endraw %}</code></p>
	</div>
{% else %}
    {% assign found_option = false %}
    {% assign option_index = 0 %}
    {% assign indexChild = 0 %}

    {% for option in product.options %}
        {% if option == nov-swatch-size %}
            {% assign found_option = true %}
            {% assign option_index = forloop.index0 %}
            {% assign indexChild = forloop.index %}
            <style rel="stylesheet" type="text/css" >
                .selectorVariants .selector-wrapper:nth-child({{ indexChild }}){display: none;}
            </style>
        {% endif %}
    {% endfor %}
    
{% endif %}