/*================ #Site Nav and Dropdowns ================*/
.site-nav {
	padding: 0;
	list-style-type: none;
	>li {
		display: inline-block;
		@media(min-width: 992px) {
			padding: 0 10px;
		}
		@media(min-width: 1600px) {
			padding: 0 17px;
		}
		.site-nav__link--main {
			font-family: var(--font-family-primary);
		    color: var(--color-menu);
		    line-height: 18px;
		    font-size: 1.4rem;
		    font-weight: 500;
		    text-transform: uppercase;
		    @include transition(all 0.35s ease);
		    position: relative;
		    display: block;
		    padding: 36px 0;
		    @media(max-width: 1439px) {
		    	font-size: 1.2rem;
		    }
	        &:before {
	        	display: block;
	    	    content: attr(title);
	    	    font-weight: 700;
	    	    height: 0;
	    	    overflow: hidden;
	    	    visibility: hidden;
	        }
		}
		&.site-nav--active, &:hover {
			.site-nav__link--main {
				font-weight: 700;
			}
		}
		.icon_nav {
			@include rtl-margin-right(5px);
			display: inline-block;
		}
		.group_title {
			display: initial;
		}
	}
}

/*================ Site Nav Links ================*/
.site-nav__link {
	&.site-nav--active-dropdown {
		border: 1px solid var(--color-border);
		border-bottom: 1px solid transparent;
		z-index: 2;
	}
}
.site-nav--active-dropdown .zmdi-chevron-down:before {
	content: '\f2fc';
}

.site-nav__dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin: 0;
    z-index: 7;
    background: #fff;
    @include rtl-text-align-left();
    top: calc(100% + 15px);
    @include rtl-left(0);
    @include box-shadow(0 10px 10px rgba(0,0,0,0.05));
    @include transition(all 0.2s);
    border-top: 1px solid rgba(var(--color-border-rgb), .6);
    &:not(.megaMenu) {
    	min-width: max-content;
    	width: 270px;
    }
	.site-nav__link {
		padding: 5px 0;
		@include transition(all 0.1s);
		font-family: var(--font-family-default);
		font-size: 1.5rem;
		color: var(--color-sub-menu);
		display: block;
		&:hover {
			color: var(--theme-color-primary);
		}
	}
	.site-nav__childlist-item {
		position: relative;
		.show_sub {
			top: 2px;
		}
		.site-nav__dropdown-children {
			position: absolute;
			@include rtl-left(100%);
			top: 10px;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s);
			@include rtl-padding-left(40px);
			ul {
				background-color: white;
				padding: 40px;
				width: 270px;
				min-width: max-content;
			}
		}
		&:hover {
			color: var(--theme-color-primary);
			.site-nav__dropdown-children {
				@include opacity(1);
				visibility: visible;
				top: -30px;
			}
		}
	}
	.site-nav--active-dropdown {
		@include opacity(1);
		visibility: visible;
		top: 100%;
	}
	>ul {
		padding: 30px 40px;
	}
}

/*================ Megamenu ================*/
.site-nav--has-dropdown {
	position: relative;
	.show_sub {
		font-size: 2.4rem;
		color: #b3b4b3;
		cursor: pointer;
		padding: 0 10px;
		line-height: 1;
		position: absolute;
		top: -4px;
		@include rtl-right(0);
	}
	ul li {
		@include display(block);
	}
	>ul>li:last-child > a {
		padding-bottom: 0;
	}
	&:hover {
		.site-nav__dropdown {
		    opacity: 1;
		    visibility: visible;
		    top: 100%;
		    z-index: 999;
		}
	}
	&.hasMegaMenu {
		position: static;
		.megaMenu {
			@include rtl-left(50%);
			@include translateX(-50%);
			padding: 40px 30px;
			@media(max-width: 1199px) {
				padding: 30px 15px;
			}
		}
		.menuTitle.has_child, .nv_collec, .title-product {
			margin-bottom: 20px !important;
			a, > span {
				font-size: 1.6rem;
				font-weight: 600;
				color: var(--color-title-megamenu);
			}
			i {
				opacity: 0;
				@include transition(all 0.2s);
			}
		}
		.nv_collec:hover a {
			color: var(--theme-color-primary);
			i {
				@include translateX(5px);
				opacity: 1;
			}
		}
		.novMenuLinks {
			padding: 0;
			li:not(:last-child) {
				margin-bottom: 10px;
			}
			a {
				color: var(--color-sub-menu);
				font-size: 1.5rem;
				&:hover{
					color: var(--theme-color-primary);
				}
			}
		}
		&.smenu_fullwidth .megaMenu {
			width: 100% !important;
			.menuGroup {
				max-width: 1426px;
				margin: auto;
			}
		}
	}
}
.navmenu-product .grid--view-items {
	.item-product .product__info {
		text-align: center;
	}
	.slick-dots {
		bottom: -10px !important;
		li {
			display: inline-block;
		}
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	#AccessibleNav {
		position: fixed;
		height: 100vh;
		overflow-y: auto;
		top: 0;
		@include rtl-left(-270px);
		z-index: 999;
		background: #fff;
		padding: 0 18px 70px;
		width: 270px;
		@include transition(all 0.4s);
		@include rtl-text-align-left();
		&.active {
			@include rtl-left(0);
			@include opacity(1);
		}
		.site-nav {
			display: block;
		    margin-top: 40px;
			>li {
				display: block;
				position: relative;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				.site-nav__link--main {
					padding: 0;
					color: var(--theme-color-default);
					&:after {
						display: none;
					}
				}
				&.hasMegaMenu {
					.site-nav__dropdown ul > li {
						padding: 0;
					}
				}
			}
			.site-nav--has-dropdown {
				.site-nav__dropdown {
					position: static;
					width: 100% !important;
					visibility: visible;
					box-shadow: none;
					padding: 0;
					background: none !important;
					display: none;
					transition: none;
				    border-top: none;
				    @include translateX(0);
				    opacity: 1;
				    > ul {
				    	padding: 15px 20px;
				    }
				    &.megaMenu {
				    	padding: 20px 0;
				    }
				    .novMenuLinks {
				    	margin-bottom: 20px;
				    	li:not(.menuTitle) {
				    		@include rtl-padding-left(20px);
				    	}
				    }
					.site-nav__dropdown {
						width: 250px !important;
					    padding-top: 15px;
					    &.megaMenu {
					    	ul.novMenuLinks {
					    		li:not(.menuTitle) {
					    			padding: 0 20px;
					    		}
					    	}
					    }
					}
				}
				&.site-nav--active-dropdown {
					.dropdown_menu {
						display: block;
						@include rtl-left(100% !important);
						top: 0;
						height: 100%;
						z-index: 99;
					}
				}
			}
			.site-nav__dropdown-children {
				position: static;
				width: 100% !important;
				max-width: 213px;
				visibility: visible;
				box-shadow: none;
				padding: 0;
				background: none !important;
				display: none;
				transition: none;
			    border-top: none;
			    @include translateX(0);
			    opacity: 1;
			    ul {
			    	width: 100%;
			    	padding: 15px;
			    }
			}
		}
	}
}

.canvas-menu {
	background: white;
	position: fixed;
	z-index: 9999;
	top: 0;
	@include rtl-left(auto);
	@include rtl-right(auto);
	width: 250px;
	height: 100%;
	@include transition(var(--transition-drawer));
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	&.drawer-left {
		@include rtl-right(-250px);
	}
	.canvas-header-box {
		padding: 30px 0;
		font-size: 16px;
		font-weight: 700;
		color: #c3c4c3;
		background-color: white;
		.close-box {
			cursor: pointer;
		}
	}
	#canvas-main-menu {
		top: 87px;
		background: white;
	}
	.mm-panels >.mm-panel {
		visibility: visible;
		@include opacity(1);
		background-image: none !important;
		&:before {
			display: none;
		}
		.mm-navbar {
			@include rtl-text-align-left();
			border-bottom: none;
			.mm-title {
				color: var(--color-heading) !important;
				font-size: 1.8rem;
				text-transform: uppercase;
				font-weight: 700;
			}
			.mm-prev:before {
				border-color: var(--color-heading);
				top: 0px;
				width: 6px;
				height: 6px;
			}
		}
		>.mm-listview {
			margin: 0;
			padding-top: 10px;
			&>li {
				&:not(.mm-divider):after {
					border-bottom: none;
				}
				.mm-next {
					top: 14px;
					padding: 0;
					width: 100%;
					@include rtl-text-align-right();
					.lang-rtl & {
						transform: rotateY(180deg);
					}
					&:before {
						@include display(none);
					}
					&:after {
						content: "\f2f6";
						font-family: 'Material-Design-Iconic-Font';
						font-size: 24px;
						color: #b3b4b3;
						border: none;
						display: contents;
						width: initial;
						height: initial;
					}
				}
			}
			>.site-nav__childlist-item .mm-next {
				top: 10px;
			}
		}
	}	
	.site-nav > li {
		@include rtl-text-align-left();
		@include display(block);
		position: relative;
		&:before {
			@include display(none);
		}
		.site-nav__link--main {
			font-family: var(--font-family-primary);
			color: var(--color-heading);
			font-size: 1.8rem;
			font-weight: 700 !important;
			padding: 15px 0 !important;
		}
		> .site-nav__link {        
			> i {@include display(none);}
		}
	}
	.site-nav__dropdown {
		border-top: none;
		@include rtl-padding-left(0);
		li:after {
			@include display(none);
		}
		.site-nav__link {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&.megaMenu {
			.menuGroup  {
				margin: 0;
			}
			.novMenuLinks {
				list-style-type: none;
				@include rtl-padding-left(15px);
				li {
					&.menuTitle {
						padding: 10px 0;
						a {
							color: var(--color-heading);
							font-weight: 700;
						}
					}
					&:not(.menuTitle) {
						@include rtl-margin-left(15px);
						a {
							padding: 5px 0;
							@include display(inline-block);
							font-size: 12px;
						}
					}
				}
			}
			.list_collection, .title-product, .nov-slick-carousel {
				@include rtl-padding-left(15px);
			}
		}
	}
	.nv_collec a, .title-product {
	    font-weight: 700;
	    color: var(--color-title-megamenu);
	    margin-bottom: 10px;
	    display: block;
	    i {
	    	@include rtl-margin-left(5px);
	    }
	}
	.navmenu-collection  {
		margin-top: 20px;
	}
	.navmenu-product {
		@include rtl-padding-right(0);
	}
	.nov-slick-carousel .item {
		width: 185px !important;
	}
	.novMenuBanner {
		margin-bottom: 20px;
	}
}